body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

button {
    width: 180px;
    height: 60px;
    border-radius: 18px;
    border: none;
    transition: all 0.3s ease-in-out;
    font-size: medium;
}

button:hover {
    transition: all 0.3s ease-in-out;

    color: rgb(255, 0, 0);

    font-size: larger;
    cursor: pointer;

}



