form {
    display: grid;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

form input {
    padding: 4px;
    margin: 2px;
    border: 1px solid gray;
    border-radius: 20px;
}

form .add {
    background-color: green;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

form .delete {
    background-color: rgb(128, 0, 0);
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.result {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}