body {
    background-color: red;
    height: 100vh;
}

.container {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 580px;
}

.container button {
    width: 200px;
    height: 70px;
    border: none;
    cursor: pointer;
    border-radius: 60px;
    background-color: rgb(72, 68, 68);
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}