/* body {
    background-color: red;
    height: 100vh;
}

.container {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 580px;
}

.container button {
    width: 200px;
    height: 70px;
    border: none;
    cursor: pointer;
    border-radius: 60px;
    background-color: rgb(72, 68, 68);
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
} */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Container for the form section */
.form-container {
    background-color: blue;
    height: 246px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/* Styling for the form inside the container */
.form-container form {
    display: flex;
    /* Center items vertically and horizontally */
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* Style for input fields */
.input-field {
    width: 200px;
    border-radius: 4px;
    padding: 5px;
    outline: none;
    border: none;
    margin: 5px 0;
}

/* Style for the submit button */
.btn-submit {
    width: 60px;
    border-radius: 4px;
    padding: 5px;
    outline: none;
    cursor: pointer;
    border: none;
    margin: 5px 0;
}

/* Style for the preview box below the form */
.preview-box {
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 10px;
}